* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin: 10px;
    padding: 5px;
    /* height: 700px; */
    border: 1px solid red;
    background-color: yellow;
    /* overflow: hidden; */


    display: grid;


    /* grid-template-rows: 30px 150px 400px 30px;
    grid-template-columns: 400px;

    grid-template-areas:
        "hd"
        "side"
        "main"
        "ft"; */

    /* grid-template-columns: 200px 400px;
    grid-template-rows: 30px 500px 30px;

    grid-template-areas:
        "hd hd"
        "main side"
        "ft ft"; */

    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 30px 400px 30px;
    
    grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "side main main main main main main main"
    "ft ft ft ft ft ft ft ft";

}

.box {
    text-align: center;
    align-content: center;
    border: 1px solid green;
    background-color: aqua;
    /* height: 100px; */
    /* width: 100px; */
}

#header {
    grid-area: hd;
}

#footer {
    grid-area: ft;
}

#content {
    grid-area: main;
}

#sidebar {
    grid-area: side;
}